.todo-list {
  border-radius: 12px;
  padding: 0px 24px 24px;
  width: 250px;
  border: 5px solid rgb(96, 231, 177);
  float: left;
}

.content {
  font-size: medium;
}

.delbutton {
  border-radius: 8px;
  cursor: pointer;
  width: 45%;
  background-color: #fff;
  border: 3px solid red;
}

.complbutton {
  border-radius: 8px;
  cursor: pointer;
  width: 45%;
  background-color: #fff;
  border: 3px solid rgb(19, 169, 91);
  margin-left: 25px;
}
